@use "_settings.scss"as *;

.app {
  max-width: 3440px; // ultra-wide???
  margin: 0 auto;
}

.header {
  background: $gradient;
  color: $white;
  height: 60px;
  @extend %centralize-with-flex;
  position: relative;

  &__title {
    @extend %font-bold;
    text-align: center;
    font-size: px-to-rem(20px);
    cursor: pointer;
  }

  &__nav {
    position: absolute;
    top: 90px;
  }

}

.main {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 30px;

  &__section {
    min-height: 450px;
    max-height: 568px;
    @include padding-section-responsive;
  }
}

.section {
  &--banner {
    color: white;

    height: 100vh;
    width: 100%;

    background-image: url("../assets/lading-page-wallpaper.webp");
    @extend %background-center-cover;
    background-attachment: fixed;

    box-shadow: inset 0 0 0 150vw rgba($color: #000000, $alpha: 0.8);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  &--about {
    height: calc(300px + 474px);
    max-height: initial;
    background-image: url("../assets/Rectangle.webp"), url("../assets/people-thinking.webp");
    background-position: bottom center, bottom center;
    background-size: 100% 125px, 404px 466px;
    background-repeat: no-repeat, no-repeat;

    color: $gray-1;
  }

  &--contact {
    color: $gray-1;
  }
}

.footer {
  height: 55px;
  background-color: $gray-5;
  @extend %centralize-with-flex;
  flex-flow: column nowrap;
  font-size: px-to-rem(11px);
  row-gap: 7.5px;
  color: $gray-1;
}



@media screen and (min-width: 768px) {
  .main__section {
    max-height: initial;
  }

  .header {
    position: static;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 25px;

    height: 70px;

    &__title {
      font-size: px-to-rem(25px);
    }

    &__nav {
      position: static;
    }
  }

  .section {
    &--banner {
      max-height: 1080px;
    }

    &--about {
      height: calc(200px + 474px);
      background-position: bottom center, 95% 100%;
    }

    &--contact {
      height: initial;
    }
  }

  .footer {
    height: 70px;
    font-size: px-to-rem(13px);
  }
}

@media screen and (min-width: 1156px) {

  .main {
    &__section {
      min-height: initial;
      max-height: initial;
    }
  }

  .section {
    &--about {
      flex-basis: initial;
      background-position: bottom center, 75% 100%;
      align-items: center;
    }

    &--contact {
      min-height: 350px;
    }
  }

  .footer {
    height: 70px;
    font-size: px-to-rem(13px);
  }
}

@media screen and (min-width: 1440px) {
  .header {
    height: 80px;

    &__title {
      font-size: px-to-rem(30px);
    }
  }

  .section--banner {
    padding-left: calc(15px + 2vw);
  }
}