$white: #ffffff;
$gray-1: #333333;
$gray-2: #666666;
$gray-3: #bbbbbb;
$gray-4: #cdcdcd;
$gray-5: #eaeaea;
$opacity: opacify(#000000, 0.8);
$green: #10ac84;
$pink: #ee5253;
$gradient: linear-gradient(180deg, #ee5253 0%, #d92223 100%);

%font-bold {
  font-family: Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

%font-normal {
  font-family: Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
}

%centralize-with-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}


%background-center-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

%padding-section-responsive {
  padding: 15px;
}

@mixin font-style($size, $isBold: false) {
  font-size: $size;

  @if $isBold==true {
    @extend %font-bold;
  }

  @else {
    @extend %font-normal;
  }
}

@mixin button-style($type, $color) {
  @if $type=="big" {
    width: 304px;
    height: 60px;
  }

  @else if $type=="small" {
    width: 222px;
    height: 46px;
  }

  background-color: $color;
  border-radius: 0.4rem;
  color: white;
  font-size: 1.1rem;

  @extend %centralize-with-flex;

  transition: 200ms;

  &:hover {
    background-color: darken($color, 10%);
  }

  &:active {
    background-color: darken($color, 20%);
  }
}