@use "sass:math";


// variables
$white: #ffffff;
$gray-1: #333333;
$gray-2: #666666;
$gray-3: #bbbbbb;
$gray-4: #cdcdcd;
$gray-5: #eaeaea;
// Background and foreground colors do not have a sufficient contrast ratio.
$green: darken(#10ac84, 10%);
$pink: darken(#ee5253, 15%);
$gradient: linear-gradient(180deg, #ee5253 0%, #d92223 100%);

// placeholders

%font-bold {
  font-family: Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

%font-normal {
  font-family: Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
}

%centralize-with-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}


%background-center-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

// functions and mixins

@function px-to-rem($px) {
  @return math.div($px, 16px) * 1rem;
}

@mixin padding-section-responsive() {
  padding: 15px calc(15px + 2vw);

  @media screen and (min-width: 768px) {
    padding: 40px calc(45px + 2vw);
  }

  @media screen and (min-width: 1156px) {
    padding-left: calc(25px + 5vw);
    padding-right: calc(35px + 2vw);
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: calc(155px + 5vw);
    padding-right: calc(45px + 2vw);
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@mixin button-style($type, $color) {
  @if $type=="big" {
    width: 290px;
    height: 60px;

    font-size: px-to-rem(22px);

  }

  @else if $type=="small" {
    width: 222px;
    height: 46px;

    font-size: px-to-rem(18px);
  }

  background-color: $color;
  border-radius: 0.4rem;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 200ms;

  &:not(:disabled):hover {
    background-color: darken($color, 5%);
  }

  &:not(:disabled):active {
    background-color: darken($color, 10%);
  }

  &:disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
  }
}

// keyframes

@keyframes drop-down {
  from {
    opacity: 0;
    max-height: 1px;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    max-height: 250px;
    transform: translateY(0);
  }
}